@keyframes Fade {
    from {
        transform: scale(1.01);
        opacity: 0.5;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes SlideBottomToTop {
    from {
        transform: translateY(60px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes SlideNavbar {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes LeftToRight {
    from {
        transform: translateX(-150px);
        opacity: 0.7;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes RightToLeft {
    from {
        transform: translateX(150px);
        opacity: 0.7;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes SimpleFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}