#mainAbout {
    width: 100%;
    height: 870px;
    display: flex;
    flex-direction: column;
    background-color: beige;
}

#headerOfAbout {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


#headerOfAbout h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    padding-right: 50px;
    transition: 0.4s;
}

#headerOfAbout h1:hover {
    transform: translateY(-5px);
    transition: 0.4s;
    cursor: pointer;
}

#aboutContainer {
    width: 95%;
    height: 750px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 32% 32% 32%;
    align-self: center;
}










.left-about {
    display: flex;
    grid-column: 1;
    grid-row: 1;
    gap: 20px;
    border-radius: 10px;
    width: 100%;
    transition: 0.6s;

}

.left-about:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: 0.6s;
    background-color: rgb(226, 226, 204);
}

.left-about img {
    width: 40%;
    border-radius: 10px;
}

.left-about div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.left-about h1 {
    color: #D4AF37;
}










.left-about-sec {
    display: flex;
    grid-column: 1;
    grid-row: 3;
    gap: 30px;
    width: 100%;
    transition: 0.6s;

}

.left-about-sec:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: 0.6s;
    background-color: rgb(226, 226, 204);
}

.left-about-sec img {
    width: 40%;
    border-radius: 10px;
}

.left-about-sec div {
    display: flex;
    flex-direction: column;
    color: black;
}

.left-about-sec h1 {
    color: #D4AF37;
    text-align: center;
}

.left-about-sec li {
    font-size: 1.2rem;
    font-weight: 550;
}











.right-about {
    display: flex;
    width: 100%;
    grid-column: 2;
    gap: 30px;
    grid-row: 2;
    transition: 0.6s;
}


.right-about:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: 0.6s;
    background-color: rgb(226, 226, 204);
}

.right-about img {
    width: 40%;
    border-radius: 10px;
}

.right-about div {
    display: flex;
    flex-direction: column;
}


.right-about h1 {
    color: #D4AF37;
    text-align: center;
}

.right-about li {
    font-size: 1.2rem;
    font-weight: 550;
}











#about-cta {
    justify-self: flex-end;
    align-self: flex-end;
    grid-column: 2;
    grid-row: 3;
}



#about-cta button {
    display: flex;
    width: 250px;
    height: 55px;
    color: white;
    background-color: black;
    border-radius: 20px;
    border: none;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    font-size: 1rem;

}



#aboutArrow {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s;
}




#about-cta button:hover {
    #aboutArrow {
        rotate: calc(-45deg);
        transition: 0.7s;
    }

    transition: 0.7s;
    cursor: pointer;
    transform: scale(1.01);


}




@media(max-width:1024px) {
    #aboutContainer {
        grid-template-columns: 100%;
        height: 850px;
        gap: 30px;
        grid-template-rows: 30% 30% 30% 10%;

    }

    .right-about {
        grid-column: 1;
    }

    #about-cta {
        grid-column: 1;
        grid-row: 4;

        margin-right: 40px;

    }
}

@media(max-width:480px) {
    #aboutContainer {
        grid-template-rows: 20% 20% 20% 10%;
        gap: 40px;
    }

    .left-about h2 {
        font-size: 1rem;
    }

    .left-about h1 {
        font-size: 1.2rem;
    }

    .right-about h1 {
        font-size: 1.2rem;
    }



    .right-about li {
        font-size: 0.7rem;
    }


    .left-about-sec h1 {
        font-size: 1.2rem;
    }



    .left-about-sec li {
        font-size: 0.7rem;
    }

    #about-cta button {
        width: 200px;
        height: 50px;
        font-size: 0.7rem;
    }



}