#mainContact {
    width: 100%;
    background-color: black;
    padding-bottom: 100px;
}


#headerOfContact {
    width: 60%;
    margin: 0;
    padding: 0;
    color: white;
    padding-top: 40px;
    padding-left: 40px;
    font-size: 3.5rem;
}

#contact-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    margin-top: 40px;
    justify-content: space-around;
}






#form {
    width: 45%;
    height: 500px;
    border-radius: 15px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

#insideOfForm {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#textarea {
    width: 100%;
}





/*---------------------------------------------------------------------------*/


#contact-cta {
    margin-top: 20px;
    width: 80%;
    grid-column: 2;
    grid-row: 3;
}



#contact-cta button {
    display: flex;
    width: 100%;
    height: 55px;
    color: black;
    background-color: white;
    justify-content: center;
    border-radius: 40px;
    border: none;
    align-items: center;
    gap: 40px;
    font-size: 1rem;
    transition: 0.5s;
    position: relative;

}



#contactArrow {
    position: absolute;
    right: 10px;
    width: 45px;
    height: 45px;
    background-color: black;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s;
}

#textOfButton {
    font-size: 1.2rem;
}




#contact-cta button:hover {
    #contactArrow {
        rotate: calc(45deg);
        transition: 0.7s;
    }

    background-color: gray;
    transition: 0.5s;
    cursor: pointer;


}























#rightContact {
    width: 30%;
    height: 100%;
    color: white;
    display: flex;
    gap: 90px;
    flex-direction: column;



}

#rightContact h1 {
    font-size: 3rem;
    color: silver;
    text-align: center;
}



#rightContact h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
}

#contactLinks {
    width: 100%;
    display: flex;
    flex-direction: column;

}

#rightContact div {
    height: 40px;
    display: flex;
    gap: 5px;
    align-items: center;
}













/*--------------------------------------------------------------------------------------*/


#success {
    display: flex;
    position: absolute;
    width: 40%;
    height: 150px;
    background-color: #101010;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    z-index: 100;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid silver;
    box-shadow: 1px 2px 2px silver;
    gap: 10px;
    animation: SimpleFade 1.6s forwards;

}

#success p {
    font-size: 1.7rem;
}





@media(max-width:1024px) {
    #rightContact {
        width: 40%;
        gap: 40px;
    }

    #success {
        width: 50%;
    }


}


@media(max-width:768px) {
    #contact-wrapper {
        flex-direction: column-reverse;
        align-items: center;
        gap: 100px;
    }

    #rightContact {
        width: 50%;
    }

    #form {
        width: 65%;
    }

    #success {
        width: 65%;
    }

}

@media(max-width:480px) {
    #rightContact {
        width: 80%;
    }

    #form {
        width: 90%;
    }

    #success {
        width: 90%;
    }

    #success p {
        font-size: 1.3rem;
    }

}


@media(max-width:360px) {
    #rightContact h1 {
        font-size: 2.3rem;
        width: 100%;
    }

    #rightContact h3 {
        font-size: 1rem;
    }

    #form {
        width: 98%;
    }

    #success {
        width: 100%;
    }

    #success p {
        font-size: 1rem;
    }

    #headerOfContact {
        font-size: 2.5rem;
    }

}