#mainFaq {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


#faqTag {
    color: white;
    padding-top: 40px;
}

#headerOfFaq {
    margin-top: 60px;
    color: silver;
    font-size: 2.5rem;
}


#mainAccordion {
    margin-top: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 100px;
}


@media(max-width:480px) {
    #headerOfFaq {
        font-size: 1.7rem;
    }

    #mainAccordion {
        width: 90%;
    }
}