#hero {
    width: 100%;
    height: 730px;
    position: relative;
}

#hero img {
    width: 100%;
    height: 729px;
    filter: brightness(50%);
    animation: Fade 2s forwards;
}


/*--------------------------------------------------------------*/


#navbar {
    display: flex;
    position: absolute;
    top: 30px;
    width: 95%;
    gap: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    justify-content: flex-end;
    margin-right: 30px;


}

.endPoints,
.brandName {
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
    padding: 15px 20px;
    transition: 0.6s;


}


.endPoints:hover {

    border-bottom: 2px solid #D4AF37;
    color: silver;
    transform: translateY(-5px);
    cursor: pointer;
    transition: 0.6s;
}

.brandName:hover {
    transform: scale(1.03);
    color: #C9A227;
    transition: 0.5s;
    cursor: pointer;

}

/*----------------------------------------------------------------------*/

#heroText {
    position: absolute;
    right: 10px;
    top: 200px;
    width: 600px;
}



#heroText h1 {
    color: white;
    font-size: 4.5rem;
    animation: SlideBottomToTop 1s backwards;
    animation-delay: 1s;
}

#heroText span {
    color: #C9A227;
}

#heroText:hover {
    transform: scale(1.02);
    transition: 0.6s;
    cursor: pointer;
}

/*------------------------------------------------------------------------------*/

#startBtn-Wrapper {
    position: absolute;
    right: 100px;
    top: 510px;
    animation: SlideBottomToTop 1s backwards;
    animation-delay: 1.5s;
}

#startBtn-Wrapper button {
    display: flex;
    width: 200px;
    height: 45px;
    color: black;
    background-color: white;
    border-radius: 20px;
    border: none;
    align-items: center;
    justify-content: left;
    gap: 40px;
    font-size: 1rem;

}


#arrow {
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    transition: 0.7s;
    justify-content: center;
}

#startBtn-Wrapper button:hover {
    #arrow {
        rotate: calc(-45deg);
        transition: 0.7s;
    }

    background-color: silver;
    transition: 0.7s;
    cursor: pointer;
    transform: scale(1.01);


}


/*-----------------------------------------------------------------------*/


#menuDiv {
    background-color: black;
    display: none;
    width: 100%;
    position: absolute;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    position: fixed;

}

#menuBtn {
    font-size: 2rem;
    color: white;
    margin: 20px;

}






/*------------------------------------------------------------------*/

@media(max-width:1024px) {
    #hero {
        height: 670px;
    }

    #menuBtn {
        display: flex;
    }

    #navbar {
        position: fixed;
        border-top: 2px solid grey;
        top: 71px;
        width: 100%;
        background-color: black;
        color: black;
        flex-direction: column;
        gap: 5px;
        transition: 0.7s;
        align-items: center;
        z-index: 500;
        padding-top: 5px;
        padding-bottom: 20px;
        transform: translateY(-270px);
        opacity: 0;

    }

    #navbar.open {
        transform: translateY(0px);
        opacity: 1;
        transition: 0.7s;
    }

    .brandName {
        display: none;
    }

    .endPoints {
        padding: 13px;
        font-size: 1.3rem;
    }

    #menuDiv {
        display: flex;
    }

    #brandNameMenu {
        text-decoration: none;
        font-size: 1.6rem;
        color: white;
        padding: 15px 20px;

    }

    #hero img {
        height: 650px;
    }

    #heroText {
        width: 380px;

    }

    #heroText h1 {
        font-size: 2.7rem;
    }

    #startBtn-Wrapper {
        top: 450px;
    }
}


@media(max-width:480px) {
    .endPoints {
        font-size: 1rem;
    }

    #hero {
        height: 550px;
    }

    #hero img {
        height: 100%;
    }

    #heroText {
        top: 160px;
        width: 280px;

    }

    #heroText h1 {
        font-size: 2rem;
    }

    #startBtn-Wrapper {
        top: 350px;
        right: 50px;
    }

    #startBtn-Wrapper button {
        width: 180px;
        height: 40px;

    }


}