#mainPlans {
    background-color: black;
    width: 100%;
}

#headerOfPlans {
    display: inline-block;
    padding-top: 30px;
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.4s;
}

#headerOfPlans:hover {
    transform: translateY(-5px);
    transition: 0.4s;
}

#planContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 25px;
    padding-bottom: 40px;

    width: 100%;
    gap: 25px;
}

.plan {
    width: 30%;
    height: 570px;
    background-color: #121212;
    border-radius: 10px;
    transition: 0.6s;
}

.plan:hover {
    transform: scale(1.02);
    transition: 0.6s;
    cursor: pointer;
}

.middlePremium {
    box-shadow:
        0 18px 45px rgba(0, 0, 0, 0.75),
        0 0 15px #D4AF37;
}




.img-wrapper {
    width: 100%;
    height: 47%;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


#elementsOfPlan-wrapper {
    height: 248px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

#elementsOfPlan-wrapper li {
    font-size: 1.4rem;
    list-style: none;
    color: silver;
}


.planBtn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.planBtn button {
    display: flex;
    width: 190px;
    height: 40px;
    color: black;
    background-color: white;
    border-radius: 20px;
    border: none;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 1rem;


}

.planBtn button:hover {
    #arrow {
        rotate: calc(45deg);
        transition: 0.7s;
    }

    background-color: silver;
    transition: 0.7s;
    cursor: pointer;


}

#arrow {
    transition: 0.7s;
}


@media (max-width:1024px) {
    #planContainer {
        flex-direction: column;
        align-items: center;
    }

    .plan {
        width: 50%;
    }
}

@media (max-width:768px) {
    .plan {
        width: 60%;
    }
}

@media (max-width:480px) {
    .plan {
        width: 95%;
    }

    #headerOfPlans {
        font-size: 2rem;
        padding-left: 30px;
        padding-top: 20px;
    }

    #elementsOfPlan-wrapper li {
        font-size: 1.2rem;
    }
}